PORT=5000
MONGODB_URI=mongodb://localhost:27017/telegramservices
JWT_SECRET=your_jwt_secret_key_here
TELEGRAM_BOT_TOKEN=8952022629:AAEfe5BGjWu5eMv7m9MpV-rLD1PWJCIFT20
ADMIN_CHAT_ID=123456789
ADMIN_PASSWORD=_935705511_
CARD_NUMBER=4916990345186545
CARD_HOLDER=Rano Ruzieva
API_URL=https://telegramservices.com
NODE_ENV=production
